<ion-header>
  <ion-toolbar>
    
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card-title class="ion-text-center">
    <ion-text color="primary">
      <h1 class="welcome">¡Bienvenido!</h1>
    </ion-text>
  </ion-card-title>
  <img src="https://cdn-icons-png.flaticon.com/512/825/825569.png" alt="" class="qrImage">
  <ion-card>
    <ion-card-header>
      
    </ion-card-header>
    <ion-card-content>
      <form >
        <ion-item>
          <ion-label position="floating" >Nombre de Usuario</ion-label>
          <ion-input type="text" [(ngModel)]="usuario.nombreUsuario" name="usuario" placeholder="Usuario"></ion-input>
          
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="usuario.password" name="password" placeholder="****"></ion-input>
        </ion-item>
        <ion-grid fixed>
          <ion-row>
            <ion-col>
              <ion-button 
                (click)="limpiar()" 
                expand="block" 
                fill="clear" 
                shape="round">
                Limpiar
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button 
                (click)="ingresar()" 
                expand="block" 
                
                shape="round">
                Iniciar Sesión
              </ion-button>
            </ion-col>
            
          </ion-row>
        </ion-grid>
        
      </form>
    </ion-card-content>
  </ion-card>
  <ion-grid fixed>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12">
        <p class="ion-text-center">¿Olvidaste tu contraseña?</p>
        <ion-button shape="block" fill="clear" (click)="restablecer()">Restablecer</ion-button>            
      </ion-col>
      
    </ion-row>
  </ion-grid>
  <ion-grid class="ion-padding-top" fixed>
    <ion-row>
      <ion-col size="6">
        <p>Contáctanos</p>
        <ion-button href="https://www.whatsapp.com/" fill="clear" target="_blank">
          <ion-icon name="logo-whatsapp" size="large"></ion-icon>
        </ion-button>
        <ion-button href="https://mail.google.com/" fill="clear" target="_blank">
          <ion-icon name="mail-outline" size="large"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <p>Disponible en</p>
        <ion-button href="https://play.google.com/store" fill="clear" target="_blank">
          <ion-icon name="logo-android" size="large"></ion-icon>
        </ion-button>
        <ion-button href="https://www.apple.com/store" fill="clear" target="_blank">
          <ion-icon name="logo-apple" size="large"></ion-icon>
        </ion-button>
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

