<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="titulo">
      Bienvenido 
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding-horizontal">
  <ion-title class="ion-padding-top">
    <ion-label>
      <h1 class="ion-text-center bienvenido" id="bienvenido">Hola! {{ usuario.nombreUsuario }}</h1>
    </ion-label>
  </ion-title>
  <b class="ion-text-center">
    <h4>Información Personal</h4>
  </b>

  <ion-item>
    <ion-label position="ion-text-">Nombre</ion-label>
    <ion-input type="text" [(ngModel)]="persona.nombre"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Apellido</ion-label>
    <ion-input type="text" [(ngModel)]="persona.apellido"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Educación</ion-label>
    <ion-select placeholder="Seleccione nivel" 
        [(ngModel)]="persona.nivelEducacional.id">
      <ion-select-option *ngFor="let nivelEducacional of nivelesEducacionales" 
        [value]="nivelEducacional.id">
          {{nivelEducacional.nombre}}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Fecha Nacimiento</ion-label>
    <ion-input type="date" 
      [(ngModel)]="persona.fechaNacimiento">
    </ion-input>
  </ion-item>

  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-button expand="block" 
        fill="clear" 
        shape="round" (click)="limpiarFormulario()">
          Limpiar
        </ion-button>
      </ion-col>
      <ion-col col-6>
        <ion-button expand="block" 
        shape="round" fill="outline" (click)="mostrarDatosPersona()">
          Mostrar
        </ion-button>
      </ion-col>
      
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button (click)="qrreader()"  expand="block" color="tertiary">
          Escanear Código QR
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>  
  
  
